{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Workout</title>
    <link rel="stylesheet" href="{% static 'styles/add_workout.css' %}">
    <link rel="stylesheet" href="{% static 'styles/variables.css' %}">
</head>
<body>
    <div class="header-container">
        <h1>Add New Workout</h1>
    </div>
    <div class="form-container">
        <form method="POST">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="save-btn">Save</button>
        </form>
        
        <a href="{% url 'home' %}" class="return-btn">Return Home</a>
    </div>
</body>
</html>