body{
    background-color: var(--background-clr);
}

.del-btn{
    color: white;
    background-color: rgb(103, 103, 255);
    border: 1px solid rgb(103, 103, 255);
    border-radius: 5px;
    height: 2.5em;
    width: 4em;
    margin-right: 1em;
    cursor: pointer;
    transition: all 0.3s ease;
}

.del-btn:hover{
    background-color: white;
    color: rgb(103, 103, 255);
    transform: scale(1.1);
}

.del-btn:active{
    transform: scale(0.9);
}


.edit-btn{
    text-decoration: none;
    color: rgb(103, 103, 255);
    border: 1px solid rgb(103, 103, 255);
    border-radius: 5px;
    height: 2em;
    width: 3em;
    text-align: center;
    align-content: center;
    transition: all 0.3s ease;
}

.edit-btn:hover{
    background-color: rgb(103, 103, 255);
    color:white;
    transform:scale(1.1);
}

.edit-btn:active{
    transform: scale(0.9);
}



.btn-container{
    display:flex;
    align-items: baseline;
    justify-content: baseline;
}

.workout-card {
    display: grid;
    border: none;
    box-shadow: 0px 0px 3px rgb(0,0,0,0.3);
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}

.notes{
    max-width: 100%;
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}


.workout-container{
    display:grid;
    grid-template-columns: 45% 45%;
    
    gap:5%;
}

.workout-container h2{
    grid-area:0 0;
}


.add-workout-btn {
    text-decoration: none;
    text-align: center;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background-color: rgb(103, 103, 255);
    border:1px solid rgb(103, 103, 255);
    color: white;
    min-width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.8s ease;
    white-space: nowrap;
    overflow: hidden;
    padding: 0 1.5rem;
}

.add-workout-btn:hover {
    background-color: white;
    color:rgb(103, 103, 255);
    transform: scale(1.1);
}


.add-workout-btn:active {
    transform: scale(0.95);
}

